.container{
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.x_imge{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 12%;
    right: 30%;
    filter: invert();
    cursor: pointer;
    z-index: 4;
}

.x_imge:hover{
    
    width: 50px;
    height: 50px;
    filter: none;
    color: aqua;
    transition: 0.3s ease;
    transform: rotate(360deg);
}



/* 전체를 감싸고있는 top */
#top{
    width: 100%;
    height: 100%;
    position: fixed;
}


/* 2번째로 감싸고있는 nickname */
#nickname{
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid;
    flex-direction: column;
    border-radius: 7px;
    align-items: center;
    position:relative;
}




.cute_imge{
    width: 150px;
    height: 150px;
    
}





/* 닉네임 변경과 인풋들을 품고있는 div */
.change{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top: 13%;
    left:37%;
}


/* 닉네임 변경 */
.change > label{
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    left: 2%;
    top: 64%;
}


/* 닉네임 변경&변경하기 묵여있는 안에 #인풋 */
.change2 > input:nth-child(1) {
    width: 320px;
    height: 40px;
    background-color: #1E1F22;
    border-radius: 7px;
    color: #ffff;
    display: inline;
}

.change2 {
    margin-top: 20px;
}




/* 변경하기 인풋 */
.change_button{
    width: 75px;
    height: 30px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 5px;
    background-color:#feba00f4;
/* 변경하기 버튼효과 주기 여기서부터 */
    background-color: #feba00f4;
    /* sets the background color of the button to yellow */
     color: #ffffff;
    /* sets the text color of the button to black */
     padding: 5px 5px;
    /* adds some padding to the button */
     border: none;
    /* remove the default border */
     border-radius: 10px;
    /* rounds the corners of the button */
     font-size: 13px;
    /* sets the font size of the button text */
     font-weight: 500;
    /* sets the font weight of the button text to bold */
     cursor: pointer;
    /* changes the cursor to a pointer when hovering over the button */
     text-shadow: 2px 2px 3px #feba00f4;
    /* adds a subtle shadow to the button text */
     box-shadow: 2px 2px 3px #feba00f4;
    /* adds a subtle shadow to the button */
     transition: all 0.2s ease-in-out;
    /* adds transition effect when hovering over the button */
   }
   
   .change_button:hover {
     background-color: #1c1a10;
    /* changes the background color of the button to black when hovered */
     color: #feba00f4;
    /* changes the text color of the button to yellow when hovered */
     transform: scale(1.1);
    /* increases the size of the button slightly when hovered */
   }
   
   .change_button:active {
     transform: scale(0.97);
   }
   /* 변경하기 버튼효과 주기 여기까지 */




/*  미리보기 이미지 들어가는거와 프로필변경하기 묶은거 */
.oen2_pofile{
    width: 500px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 40%;
    left: 40%;
    align-content: center;
    justify-content: space-around;
}



/* 프로필 사진 추가를 품고있는 div */
.profile{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40%;
}


/* 프로필 추가 */
.profile > label{
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    bottom:110%;
    right: 32%;
    
}


/* 프로필 추가 #인풋 */
.profile > input {
    width: 160px;
    height: 40px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    background-color: #feba00f4;
    border-radius: 7px;
    border: 0;
/*  /* 프로필변경하기 버튼효과 여기서부터 */ 
    --main-color: #feba00f4;
    --main-alt-color: #fbf079;
    height: 44px;
    font-size: 16px!important;
    line-height: 44px;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 0 1px 1px #f6e775;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-shadow: rgb(99 121 133 / 14%) 0 0 0 4px;
    box-shadow: rgb(99 121 133 / 14%) 0 0 0 4px;
    border-radius: 4px;
    border: none;
    border-top: 1px solid var(--main-alt-color);
    border-bottom: 1px solid var(--main-color);
    background-color: var(--main-color);
    outline: 0;
    cursor: pointer;
    margin: 0 0 5px 4px;
    padding: 0 20px;
    transition: transform .3s ease;
  }
  
  .profile > input:hover {
    border-top-color: var(--main-alt-color);
    border-bottom-color: var(--main-color);
    background: -webkit-gradient(linear, left top, left bottom, from(#fae811), to(#f5d604));
  }
  
  .profile > input:active {
    transform: scale(0.7);
  }
  /* 프로필변경하기 버튼효과 여기까지 */




/* 이미지 선택하는 젤 큰엄마 */
#image_head{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 32%;
    z-index: -1;
}


.myimage{
    visibility: hidden;
}
.myimage > .image_top{
    transform: scale(0);
}


/* 두번째 엄마 */
.image_top{
    width: 320px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4c4e54;
    border-radius: 5px;
 transform: scale(1);
 transition: 0.2s;
}


/* 이미지선택 글자만 */
.imagechoice{
    color: #ffff;
    font-weight: 700;
    font-size: 20px;
    
}


/* 두번째 감싸고 있는 백그라운드 컬러용 */
.background{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313338;
    border-radius: 5px;
}

/* button이랑 같은 원형틀잡아줌 */
.oen{
    width: 170px;
    height: 170px;
    background-color: #5865F2;
    border-radius: 100px;
}

/* label 스타일 조정 */
.button {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 170px;
    background-color: #5865F2;
    border-radius: 100px;
}

label {
    cursor: pointer;
    font-size: 1em;
}

.jinimg{
    width: 30px;
    height: 30px;
    border-radius: 7px;
    filter: invert();
    border: none;
    position: absolute;
    top: 50%;
    left: 46%;
}
.jinimg:hover{
    width: 30px;
    height: 30px;
    border-radius: 7px;
    filter: invert();
    border: none;
    position: absolute;
    top: 50%;
    left: 46%;
    transition: 0.3s ease;
    transform: rotate(360deg);
}


/*  input 숨기기 */
#chooseFile {
    visibility: hidden;
}

/* 업로드 글씨 */
.upload{
    color: #b5bac1;
    display: flex;
    justify-content: end;
    font-weight: 700;
    position: absolute;
    top: 52%;
    left: 36%;
    display: none;
    

}


/* /////// 미리보기에있는 원형 ///////// */

.upload2{
    color: rgb(255, 255, 255);
    justify-content: end;
    font-weight: 700;
    text-align: center;
    position: absolute;
    bottom:-20%;
    left: 10%;
}

.jinimg2{

    width: 30px;
    height: 30px;
    border-radius: 7px;
    filter: invert();
    border: none;
    
}


.button2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 170px;
    height: 170px;
    background-color: #feba00f4;
    border-radius: 100px;
    align-items: center;
    overflow:hidden;
}

.button2 > img{
    width:90px;
    height:90px;
}
.button2 > img:hover{
    width:90px;
    height:90px;
    transition: 0.3s ease;
    transform: rotate(360deg);
    
}


.oen2_pofile{
     position: absolute;
    bottom: 30%;
    left: 38%; 
}


.oen2{
    width: 170px;
    border-radius: 100px;
}