/* 전체를 감싸고있는 top */
#top{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* display: none; */
}


/* 2번째로 감싸고있는 nickname */
#nickname{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex: content;
    border: 1px solid;
    align-items: center;
    flex-direction: column;
    background-color: #313338;
    border-radius: 7px;
}






/* 닉네임 변경과 인풋들을 품고있는 div */
.change{
    display: flex;
    margin-top: 275px;
    flex: content;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}


/* 닉네임 변경 */
.change > label{
    margin: 13px;
    padding-right: 300px;
    font-size: 13px;
    font-weight: 600;
    color: #b5bac1;
    margin-right: 20px;
}


/* 닉네임 변경&변경하기 묵여있는 안에 #인풋 */
.change2 > input:nth-child(1) {
    width: 320px;
    height: 30px;
    background-color: #1E1F22;
    border-radius: 7px;
    color: #ffff;
    display: inline;
}


/* 변경하기 인풋 */
.change_button{
    width: 70px;
    height: 25px;
    color: #ffff;
    border-radius: 5px;
    background-color:#5865F2;
    margin-left: 10px;
}





/* 프로필 사진 추가를 품고있는 div */
.profile{
    margin-bottom: 170px;
    padding-right: 130px;
    display: flex;
    flex-direction: column;
    
}


/* 프로필 추가 */
.profile > label{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #b5bac1;
    margin: 10px;
    
}


/* 프로필 추가 #인풋 */
.profile > input {
    width: 160px;
    height: 40px;
    color: #ffff;
    font-size: 15px;
    font-weight: 400;
    background-color: #5865F2;
    border-radius: 7px;
    border: 0;
}









/* 이미지 선택하는 css */


.first_top{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* 이미지 선택하는 젤 큰엄마 */
#image_head{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 353px;
    margin-left: 702px;
}

.myimage{
    visibility: hidden;
}
.myimage > .image_top{
    transform: scale(0);
}


/* 두번째 엄마 */
.image_top{
    width: 320px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4c4e54;
    border-radius: 5px;
 transform: scale(1);
 transition: 0.2s;
}


/* 이미지선택 글자만 */
.imagechoice{
    color: #ffff;
    font-weight: 700;
    font-size: 20px;
    margin-right: 185px;
    margin-bottom: 20px;
    
}


/* 두번째 감싸고 있는 백그라운드 컬러용 */
.background{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313338;
    border-radius: 5px;
    margin-bottom: 30px;
}

/* button이랑 같은 원형틀잡아줌 */
.oen{
    width: 170px;
    height: 170px;
    background-color: #5865F2;
    border-radius: 100px;
    margin-bottom: 30px;
}

/* label 스타일 조정 */
.button {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 170px;
    background-color: #5865F2;
    border-radius: 100px;
    margin-bottom: 30px;
}

label {
    cursor: pointer;
    font-size: 1em;
}

.jinimg{
    width: 30px;
    height: 30px;
    margin-left: 37px;
    margin-top: 72px;
    border-radius: 7px;
    filter: invert();
    border: none;
}

/*  input 숨기기 */
#chooseFile {
    visibility: hidden;
}

/* 업로드 글씨 */
.upload{
    color: #b5bac1;
    display: flex;
    justify-content: end;
    margin-top: 82px;
    font-weight: 700;

}


/* //////////////// */

.upload2{
    color: #b5bac1;
    /* display: flex; */
    justify-content: end;
    /* margin-top: 180px; */
    /* margin-right: 53px; */
    font-weight: 700;
}

.jinimg2{

    width: 30px;
    height: 30px;
    /* margin-left: 70px; */
    /* margin-top: 72px; */
    border-radius: 7px;
    filter: invert();
    border: none;
    
}


.button2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 170px;
    height: 170px;
    background-color: #5865F2;
    border-radius: 100px;
    margin-bottom: 20px;
    align-items: center;
    padding: 0 0 0 0;
}

.upload2 {
    margin-left: 50px;
}



.oen2{
    width: 170px;
    height: 170px;
    background-color: #5865F2;
    border-radius: 100px;
    margin-bottom: 120px;
    margin-right: 98px;
    
    
}