.category_list {
    width: 200px;
    height: 40px;
    text-align: center;
    margin-bottom: 5px;
}
.text_title{
    width: 819px;
    height: 20px;
}

.text_content{
    height: 500px;
    width: 819px
}